*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: calc(100vw);
  height: calc(100vh);
  overflow-x: hidden;
}
.galery-container {
  width: calc(100vw);
  height: calc(100vh);
  align-items: center;
  justify-content: center;
}
.image-container {
  width: calc(100%);
  text-align: center;
  justify-content: center;
  max-height: calc(70%);
}
.image-element {
  width: calc(100%);
  height: calc(100%);
  justify-content: center;
}
.image-container img {
  max-width: calc(95%);
  max-height: calc(100%);
}

.preview-container {
  width: calc(60%);
  justify-content: space-between;
  flex-wrap: wrap;
}
.preview-container_elem {
  max-width: calc(25%);
  height: 100px;
}
.preview-container_elem:hover {
  border: 3px solid red;
}
.preview-container_elem img {
  height: calc(100%);
  max-width: calc(100%);
  flex-shrink: 0;
  object-fit: contain;
}
.galery-extended {
  display: none;
}
.d-flex {
  display: flex;
}
.fl-dir-row {
  flex-direction: row;
}
.fl-dir-col {
  flex-direction: column;
}

@media screen and (max-width: 640px) {
  .preview-container {
    width: calc(90%);
  }
}